.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.title{
 font-weight: 700;   
}
.sub_title{
    font-size: 14px;
    color: #919090;
}
.block_right{
    display: flex;
    gap: 10px;
}
.link{
    border-radius: 10px;
    border: 1px solid #919090;
    background-color: #9190902f;
    padding: 5px 10px;
}