<div class="wrap">
  <div class="hat">
    <h2 class="title">Все организации</h2>
    <button class="hat_button" (click)="openModalAdd()">Добавить организацию</button>
  </div>
  <nz-table #basicTable [nzData]="organizDate">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Статус</th>
        <th>Курсы</th>
        <th>Пакеты</th>
        <th>Сумма</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.organ }}</td>
        <td>
          <div
            [ngClass]="{
              'status_active': data.status === 'Active',
              'status_inactive': data.status === 'Inactive'
            }"
          >
            {{ data.status}}
          </div>
        </td>
        <td>{{ data.cours }}</td>
        <td>{{ data.batch }}</td>
        <td>{{ data.price }}</td>
        <td class="edit" (click)="openModal(data.id)">✏️ {{ data.actions }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<!-- MODAL -->
<div class="modal" *ngIf="isOpen">
  <div class="modal-content">
    <button class="close" (click)="closeModal()">✖</button>
    <app-edit-form [id]="selectedId" (updated)="onUpdated($event)" (closed)="closeModal()"></app-edit-form>
  </div>
</div>

<div class="modal" *ngIf="isOpenAdd">
  <div class="modal-content">
    <button class="close" (click)="closeModal()">✖</button>
   <app-add-form></app-add-form>
  </div>
</div>
