.wrap{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}
.hat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.title{
    padding: 10px;
    font-size: 16px;
}
.hat_button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #134ce9ab;
  color: #fff;
}
.status_active,
.status_inactive{
    border-radius: 10px;
    
    display: inline-block;
    padding: 3px 10px;
}
.status_active{
background-color: #67fa8c4f;
}
.status_inactive{
  background-color: rgba(247, 131, 102, 0.356);
}
.edit{
    color: blue;
    cursor: pointer;
}
.delete{
  color: #f04141;
  cursor: pointer;
  margin-left: 5px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.modal_delete_text{
  font-size: 16px;
}
.modal_delete_btn_wrap{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.modal_delete_btn{
  padding:5px 20px;
  background-color: #7742f3c4;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}