<div class="wrap">
  <div class="hat">
    <h2 class="title">Все организации</h2>
    <button class="hat_button" (click)="openModalAdd()">
      Добавить организацию
    </button>
  </div>
  <nz-table #basicTable [nzData]="organizDate">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Статус</th>
        <th>Курсы</th>
        <th>Пакеты</th>
        <th>Сумма</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.organ }}</td>
        <td>
          <div
            [ngClass]="{
              status_active: data.status === 'Active',
              status_inactive: data.status === 'Inactive'
            }"
          >
            {{ data.status }}
          </div>
        </td>
        <td>{{ data.cours }}</td>
        <td>{{ data.batch }}</td>
        <td>{{ data.price }}</td>
        <td>
          <button class="edit" (click)="openModalEdit(data.id)">✏️ Edit |</button>
          <button class="delete" (click)="openModalDelete(data.id)">
            🗑️ Delete
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="modal" *ngIf="modalType">
  <div class="modal-content">
    <button class="close" (click)="closeModal()">✖</button>

    <!-- EDIT -->
    <app-edit-form
      *ngIf="modalType === 'edit'"
      [id]="selectedId!"
      (updated)="onUpdated($event)"
      (closed)="closeModal()"
    ></app-edit-form>

    <!-- ADD -->
    <app-add-form
      *ngIf="modalType === 'add'"
      (submitted)="onAdded($event)"
    ></app-add-form>

    <!-- DELETE -->
    <div *ngIf="modalType === 'delete'" class="modal_delete_wrap">
      <p class="modal_delete_text">
        Do you really want to delete this organization?
      </p>

      <div class="modal_delete_btn_wrap">
        <button class="modal_delete_btn" (click)="closeModal()">No</button>
        <button class="modal_delete_btn" (click)="delete(selectedId!)">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>




