.card{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.button{
    border: 1px solid #000;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}