.input_name{
    margin-bottom: 5px;
}
.input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding:5px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
}
.wrap_button{
    display: flex;
    justify-content: end;
}
.button{
    padding: 10px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    background-color: #7742f3e0;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    transition: 0.3s;
}
.button:hover{
    background-color: #7742f3b7;
    transition: 0.3s;
}