.form_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 100%;
}
.button{
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}
.sing_in{
  text-decoration-line: underline;
  display: block;
  text-align: center;
}