<div class="form_wrap">
  <form #f="ngForm" class="form" (ngSubmit)="submit(f)">
    <div class="wrap_input">
      <label class="label">Name</label>
      <input
        type="text"
        name="name"
        ngModel
        class="input"
        placeholder="Your name"
        required
        #name="ngModel"
      />
      <small *ngIf="name.errors?.['required'] && (name.touched || f.submitted)">
        Name entry is required
      </small>
    </div>
    <div class="wrap_input">
      <label class="label">Email</label>
      <input
        type="email"
        name="email"
        ngModel
        class="input"
        placeholder="Your email"
        required
        #email="ngModel"
      />
       <small *ngIf="email.errors?.['required'] && (email.touched || f.submitted)">
        Email entry is required
      </small>
    </div>
    <div class="wrap_input">
      <label class="label">Password</label>
      <input
        type="text"
        name="password"
        ngModel
        class="input"
        placeholder="Your password"
        required
        #password="ngModel"
      />
       <small *ngIf="password.errors?.['required'] && (password.touched || f.submitted)">
        Password entry is required
      </small>
    </div>
    <button
      class="button"
      type="submit"
    >
      sing-up
    </button>
    <a [routerLink]="'sing-in'" class="sing_in">sing-in</a>
  </form>
</div>
