<div class="form_wrap">
  <form class="form" #f="ngForm" (ngSubmit)="submit(f)">
    <div class="wrap_input">
      <label class="label"> Email </label>
      <input
        type="email"
        name="email"
        ngModel
        class="input"
        placeholder="Your email"
        required
        #email="ngModel"
      />
      <small
        *ngIf="email.errors?.['required'] && (email.touched || f.submitted)"
      >
        Email entry is required
      </small>
    </div>
    <div class="wrap_input">
      <label for="name" class="label">Password</label>
      <input
        type="text"
        id="name"
        class="input"
        placeholder="Your password"
        name="password"
        ngModel
        required
        #password="ngModel"
      />
      <small
        *ngIf="password.errors?.['required'] && (password.touched || f.submitted)"
      >
        Password entry is required
      </small>
    </div>
    <small>{{error}} </small>
    <button class="button" type="submit">sing-in</button>
  </form>
</div>
