.wrap{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}
.title{
    padding: 10px;
    font-size: 16px;
}
.status{
    border-radius: 10px;
    background-color: #67fa8c86;
    display: inline-block;
    padding: 3px 10px;
}
.edit{
    color: blue;
    cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}