.wrap{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}
.title{
    padding: 10px;
    font-size: 16px;
}
.status{
    border-radius: 10px;
    background-color: #67fa8c86;
    display: inline-block;
    padding: 5px;
}