@import 'ng-zorro-antd/ng-zorro-antd.min.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f3f3f3;
}
img{
    width: 100%;
}
button{
    outline: none;
    background-color: inherit;
    border: indianred;
}
input{
    border: indianred;
    background-color: indianred;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
